/* You can add global styles to this file, and also import other style files */
@import 'theme/variables';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: $white;
  font-family: Arial, Verdana, sans-serif;
  color: $black;
  padding: 0;
  margin: 0;
}

a {
  color: $teal;
  text-decoration: none;
}

a:hover {
  color: $powder;
}
